@font-face {
    font-family: 'mr';
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'mm';
    src: url(Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'mb';
    src: url(Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'pr';
    src: url(ProstoOne-Regular.ttf);
}